<a href="https://colab.research.google.com/github/Chaitanya4/Assignment/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Python Data Type: String - Exercises
1. Write a Python program to count the number of characters (character frequency) in a string

    Sample String : google.com'
    Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
def count_char(inputstring):
    dict = {}
    for n in inputstring:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(count_char('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

3. Write a Python function that takes a list of words and returns the length of the longest one

In [2]:
def longest_string(input_data):
    input_len = []
    for n in input_data:
        input_len.append((len(n), n))
    input_len.sort()
    return input_len[-1][1]

print(longest_string(["100", "Day", "Of","Code"]))

Code

4. Write a Python program to count the occurrences of each word in a given sentence

In [3]:
def count_word(input_string):
    counts = dict()
    words = input_string.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( count_word('Welcome to programming'))

{'Welcome': 1, 'to': 1, 'programming': 1}

5. Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters.

In [4]:
def uppercase_conversion(input_str):
    num_upper_char = 0
    for letter in input_str[:4]: 
        if letter.upper() == letter:
            num_upper_char += 1
    if num_upper_char >= 2:
        return input_str.upper()
    return  input_str

print(uppercase_conversion('CoDIng'))
print(uppercase_conversion('Coding'))

CODING
Coding

6. Write a Python program to count and display the vowels of a given text

In [5]:
def vowel(input_str):
    vowels = "aeiuoAEIOU"
    ans=""
    for letter in input_str:
      if letter in vowels:
        ans=ans+letter
    print("count of vowels:")
    print(len(ans))
    print("display vowels:"+(ans))
vowel('Hello');

count of vowels:
2
display vowels:eo

## Python Data Type: List - Exercises

1. Write a Python program to check a list is empty or not

In [6]:
input_list = []
if not input_list:
  print("List is empty")

List is empty

2. Write a Python program to remove duplicates from a list.

In [7]:
a = [10,200,70,200,10,50,60,40,80,50,40]

remove_dup_items = set(a)
print("list after removing duplicate items:")
print(list(remove_dup_items))

list after removing duplicate items:
[70, 200, 40, 10, 80, 50, 60]

3. Write a Python function that takes two lists and returns True if they have at least one common member

In [8]:
def common_data(list1, list2):
     output = False
     for x in list1:
         for y in list2:
             if x == y:
                 output = True
                 return output
print(common_data([100,2,30,4,5], [5,60,70,80,9]))
print(common_data([1,2,3,40,5], [6,70,80,9]))

True
None

4. Write a Python program to get the difference between the two lists

In [10]:
list1 = [10, 20, 30, 40,50]
list2 = [40,50]
print(list(set(list1)-set(list2)))

[10, 20, 30]

5. Write a Python program to find the second smallest number in a list

In [11]:
def second_smallest(numbers):
  if (len(numbers)<2):
    return
  if ((len(numbers)==2)  and (numbers[0] == numbers[1]) ):
    return
  dup_items = set()
  uniq_items = []
  for x in numbers:
    if x not in dup_items:
      uniq_items.append(x)
      dup_items.add(x)
  uniq_items.sort()    
  return  uniq_items[1]   

print(second_smallest([10, 8, -18, -20, 20, -5]))

-18

6. Write a Python program to find the second largest number in a list.

In [12]:
def second_largest(numbers):
  if (len(numbers)<2):
    return
  if ((len(numbers)==2)  and (numbers[0] == numbers[1]) ):
    return
  dup_items = set()
  uniq_items = []
  for x in numbers:
    if x not in dup_items:
      uniq_items.append(x)
      dup_items.add(x)
  uniq_items.sort()    
  return  uniq_items[-2]   
print(second_largest([1,25,3,49,4]))

25


7. Write a Python program to get the frequency of the elements in a list

In [13]:
import collections
input_list = [1,4,50,6,80,1,50,80,8]
print("Original List : ",input_list)
output = collections.Counter(input_list)
print("Frequency of the elements in the List : ",output)

Original List :  [1, 4, 50, 6, 80, 1, 50, 80, 8]
Frequency of the elements in the List :  Counter({1: 2, 50: 2, 80: 2, 4: 1, 6: 1, 8: 1})


8. Write a Python program to convert a list of multiple integers into a single integer

    Sample list: [11, 33, 50]
    Expected Output: 113350

In [14]:
input_list = [11, 33, 50]
print("Original List: ",input_list)
ans = int("".join(map(str, input_list)))
print("Single Integer: ",ans)

Original List:  [11, 33, 50]
Single Integer:  113350


9. Write a Python program to compute the similarity between two lists.

    Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]
    Expected Output:
    Color1-Color2: ['white', 'orange', 'red']
    Color2-Color1: ['black', 'yellow']

In [15]:
from collections import Counter
input1 = ["red", "orange", "green", "blue", "white"]
input2 = ["black", "yellow", "green", "blue"]
diff1 = Counter(input1)
diff2 = Counter(input2)
print("Input1-Input2 ",list(diff1-diff2))
print("Input2-Input1: ",list(diff2-diff1))

Input1-Input2  ['red', 'orange', 'white']
Input2-Input1:  ['black', 'yellow']


10. Write a Python program to check if all dictionaries in a list are empty or not.

    Sample list : [{},{},{}]
    Return value : True
    Sample list : [{1,2},{},{}]
    Return value : False

In [16]:
input1 = [{},{},{}]
input2 = [{1,2},{},{}]
print(all(not x for x in input1))
print(all(not x for x in input2))

True
False


Python Data Types: Dictionary
1. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

    Sample Dictionary ( n = 5) :
    Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [20]:
n=int(input("Input a number "))
output = dict()

for x in range(1,n+1):
    output[x]=x*x

print(output)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


2. Write a Python program to combine two dictionary adding values for common keys

    d1 = {'a': 100, 'b': 200, 'c':300}
    d2 = {'a': 300, 'b': 200, 'd':400}
    Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [21]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
output = Counter(d1) + Counter(d2)
print(output)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})


3. Write a Python program to print all unique values in a dictionary

    Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
    Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [22]:
input_list= [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Original List: ",input_list)
unique_value = set( val for dic in input_list for val in dic.values())
print("Unique Values: ",unique_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S005', 'S002', 'S009', 'S007', 'S001'}


4. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.

    Sample data : {'1':['a','b'], '2':['c','d']} ###### Expected Output: ac ad bc bd

In [23]:
import itertools      
input_dic ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[input_dic[k] for k in sorted(input_dic.keys())]):
    print(''.join(combo),end=" ")

ac ad bc bd


5. Write a Python program to create a dictionary from a string.

    Note: Track the count of the letters from the string.
    Sample string : 'w3resource'
    Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [24]:
from collections import defaultdict, Counter
input_str = 'w3resource' 
output = {}
for letter in input_str:
    output[letter] = output.get(letter, 0) + 1
print(output)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}


6. Write a Python program to count the values associated with key in a dictionary.

    Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
    Expected result: Count of how many dictionaries have success as True

In [25]:
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
print(sum(x['success'] for x in student))

2

7. Write a Python program to convert a list into a nested dictionary of keys.

In [26]:
input_list = [7,14,21]
output = current = {}
for name in input_list:
    current[name] = {}
    current = current[name]
print(output)

{7: {14: {21: {}}}}

8. Write a Python program to sort a list alphabetically in a dictionary.

In [27]:
input = {'n1': [5,8,7], 'n2': [10,90,80], 'n3': [44,75,66]}
sorted_output = {x: sorted(y) for x, y in input.items()}
print(sorted_output)

{'n1': [5, 7, 8], 'n2': [10, 80, 90], 'n3': [44, 66, 75]}


9. Write a Python program to sort Counter by value.

    Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
    Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [28]:
from collections import Counter
input1 = Counter({'Math':81, 'Physics':83, 'Chemistry':87})
print(input1.most_common())

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]


10. Write a Python program to match key values in two dictionaries. Go to the editor

    Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
    Expected output: key1: 1 is present in both x and y

In [29]:
input1 = {'key1': 1, 'key2': 3, 'key3': 2}
input2 = {'key1': 1, 'key2': 2}
for (key, value) in set(input1.items()) & set(input2.items()):
    print('%s: %s is present in both input1 and input2' % (key, value))

key1: 1 is present in both input1 and input2

Python Data Types: Tuple - Exercises

1. Write a Python program to create a tuple with different data types.

In [30]:
input1 = ("hello", False, 6.7, 10)
print(input1)

('hello', False, 6.7, 10)

2. Write a Python program to add an item in a tuple

In [31]:
input1 = (20,40,6,7,8) 
input1 = input1 + (10,)
print(input1)

(20, 40, 6, 7, 8, 10)

3. Write a Python program to convert a tuple to a string.

In [32]:
input1 = ('h', 'e', 'l', 'l', 'o')
output =  ''.join(input1)
print(output)

hello

4. Write a Python program to find the repeated items of a tuple

In [33]:
input1 = (10,20,40,30,8,8,7,6)

output = input1.count(8)
print(output)

2

5. Write a Python program to find the length of a tuple.

In [34]:
input1 = tuple("hello")
print(len(input1))

5

6. Write a Python program to convert a tuple to a dictionary.

In [35]:
input1 = ((1, "Rahul"),(2, "Anjali"))
print(dict((y, x) for x, y in input1))

{'Rahul': 1, 'Anjali': 2}


7. Write a Python program to replace last value of tuples in a list.

    Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
    Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [36]:
input1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([x[:-1] + (100,) for x in input1])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]


8. Write a Python program to replace last value of tuples in a list.

    Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
    Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [37]:
input1= [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
output = [x for x in input1 if x]
print(output)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']


9. Write a Python program to sort a tuple by its float element.

    Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
    Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [38]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

10. Write a Python program to count the elements in a list until an element is a tuple

In [39]:
input1 = [70,3,5,6,(3,6,7),8,20]
count = 0
for x in input1:
    if isinstance(x, tuple):
        break
    count += 1
print(count)

4

Python Conditional Statements and loops


1. Write a Python program to count the number of even and odd numbers from a series of numbers.

    Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) ##### Expected Output :
    Number of even numbers : 5
    Number of odd numbers : 4

In [40]:
input1 = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
count_odd = 0
count_even = 0
for x in input1:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5


2. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

    Note : Use 'continue' statement.
    Expected Output : 0 1 2 4 5

In [41]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5


3. Write a Python program to get the Fibonacci series between 0 to 50.
Note : The Fibonacci Sequence is the series of numbers :

    0, 1, 1, 2, 3, 5, 8, 13, 21, ....
    Every next number is found by adding up the two numbers before it.
    Expected Output : 1 1 2 3 5 8 13 21 34

In [42]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

4. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [44]:
output = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        output.append(s)
print( ",".join(output))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400


5. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [56]:
n = 5
for i in range(1,11):
   print(n,'x',i,'=',n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Python functions - Exercises

1. Write a Python function to find the Max of three numbers.

In [57]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(5, 50, 12))

50

2. Write a Python function to sum all the numbers in a list

In [58]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8,7,20,50,40)))

125

3. Write a Python function to multiply all the numbers in a list

In [59]:
def multiply(numbers):  
    ans = 1
    for i in numbers:
        ans *= i  
    return ans  
print(multiply((5,7,10,34)))

11900


4. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

In [60]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('Welcome to programming')

Original String :  Welcome to programming
No. of Upper case characters :  1
No. of Lower case Characters :  19

5. Write a Python program to print the even numbers from a given list

In [61]:
def is_even_num(list1):
    enum = []
    for n in list1:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([20,10,33,40,56,80,9]))

[20, 10, 40, 56, 80]